<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand"><i class="fas fa-download"></i> </span>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{url '/admin/transfers'}}">Transfers</a>
        </li>
    </ul>
    <span class="navbar-text mr-sm-2">{{user}}</span>
</nav>