body {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

table {
    table-layout: fixed;
    width: 100%;
}

table, td, th {
    /*text-wrap: normal;*/
    /*white-space: normal !important;*/
    word-wrap: break-word !important;
}